*{
    font-family: 'Poppins', sans-serif;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.7;   
}
.card-price-color{
    color: #289BDE;
}
.carousel-image > img {
    height: 500px;
}

